*,*::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: black;
}

.container {
  width: 80%;
}

#header-nav {
    background-color: #cf670c;
    border-radius: 0;
    border: 0;
    height: 100px;
}

.navbar-brand {
  padding-top: 40px;
}

.navbar-brand a {
    text-decoration: none;
    color: black;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand h1 {
  font-size: 2em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: black;
  text-align: center;
  background: #f0ba8e;
  border-bottom: 1px solid black;
}
#nav-list a:hover {
  background: #e4a776;
}

#nav-list a span {
  font-size: 2.5em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -33px;
}

.menu-item {
  font-size: 16px;
  height: 1200px;
  background: #f0ba8e;
  padding-bottom: 20px;
}

.menu-title {
  font-weight: bold;
  padding-bottom: 20px;
}

.menu-item-title {
  font-weight: bold;
}

.menu-item p {
  margin: 20px;
}

@media (max-width: 767px) {
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 5vw; 
  }
  #collapsable-nav a { 
    font-size: 1.2em;
  }
  #collapsable-nav a span {
    font-size: 1em;
    margin-right: 5px;
  }
}
